*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* =10px on normal browser considering a default of 16px=100% on browsers*/ }

body {
  box-sizing: border-box;
  background-color: #424250; }

.clearfix::after {
  content: "";
  display: table;
  clear: both; }

body {
  font-family: 'Raleway', sans-serif;
  color: #f7f7f7; }

h1 {
  font-size: 5rem;
  font-weight: 200; }

h2 {
  font-size: 2.5rem;
  font-weight: 300; }

h3 {
  font-size: 2rem;
  font-weight: 200;
  display: inline-block; }

.navigation__link {
  font-size: 1.5rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 6rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left;
    position: relative; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  text-align: center;
  margin-bottom: 10rem; }

.navigation {
  display: inline-block; }
  .navigation__line {
    width: 10rem;
    height: .5rem; }
    .navigation__line--pink {
      background-color: #ec407a; }
    .navigation__line--blue {
      background-color: #64b5f6; }
    .navigation__line--yellow {
      background-color: #ffee58; }
  .navigation__pink:hover #pink_nav {
    opacity: 100; }
  .navigation__blue:hover #blue_nav {
    opacity: 100; }
  .navigation__yellow:hover #yellow_nav {
    opacity: 100; }

#pink_nav, #pink_nav:link, #pink_nav:visited {
  opacity: 0;
  transition: all .3s; }

#blue_nav, #blue_nav:link, #blue_nav:visited {
  opacity: 0;
  transition: all .3s; }

#yellow_nav, #yellow_nav:link, #yellow_nav:visited {
  opacity: 0;
  transition: all .3s; }

.container {
  background-color: #2b2b3a;
  height: 65vh; }
  .container--pink {
    border-bottom: 1px solid #ec407a; }
  .container--blue {
    border-bottom: 1px solid #64b5f6; }
  .container--yellow {
    border-bottom: 1px solid #ffee58; }

.app__toDoList {
  margin: 0 auto;
  display: inline-block; }

.app__title {
  padding: 1.8rem; }
  .app__title--pink {
    background-color: #705467;
    border-top: 4px solid #ec407a;
    border-bottom: 2px solid #ec407a; }
  .app__title--blue {
    background-color: #596579;
    border-top: 4px solid #64b5f6;
    border-bottom: 2px solid #64b5f6; }
  .app__title--yellow {
    background-color: #706e61;
    border-top: 4px solid #ffee58;
    border-bottom: 2px solid #ffee58; }

.app__add {
  background-color: #343442;
  border-bottom: 1px solid #424250;
  height: 8rem;
  padding: 3rem 1.8rem;
  color: #c9c9c9;
  position: relative; }

.app__info {
  width: 20rem;
  margin: 0 auto;
  margin-top: 4rem;
  text-align: center; }

.add__container {
  text-align: center; }

.add__description {
  margin-right: 1rem;
  background-color: #424250;
  border: 1px solid #ec407a;
  padding: .3rem; }
  .add__description::placeholder {
    font-size: 1.2rem;
    color: #c9c9c9;
    font-weight: 200; }

.add__prio {
  margin: 0 1rem;
  background-color: #424250;
  border: 1px solid #ec407a;
  padding: .3rem;
  font-size: 1.2rem;
  color: #c9c9c9; }

.info__overview--pink {
  border-bottom: 1px solid #ec407a; }

.info__tasks {
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: left;
  margin-left: 3rem;
  z-index: 10; }

.margin-bottom {
  margin-bottom: 4rem; }

.relative {
  position: relative; }

.animWindow {
  width: 100%;
  transition: all, .5s; }

.fadeOut {
  opacity: 0;
  transition: opacity 0.2s ease-out; }

.invisible {
  display: none; }

.visible {
  display: block; }

.app__info-extended {
  width: 20rem;
  margin: 4rem;
  display: inline-block;
  transition: all, .5s; }

.collapse {
  display: block;
  opacity: 0;
  max-height: 0px;
  overflow: hidden;
  transition: all .3s; }

.show {
  margin-top: 5rem;
  opacity: 100;
  display: inline-block;
  max-height: 50rem;
  transition: all .5s ease-in-out; }
