.container{

    background-color: $color-grey-dark;
    height: 65vh;

    &--pink{
        border-bottom: 1px solid $color-primary;
    }

    &--blue{
        border-bottom: 1px solid $color-secondary;
    }

    &--yellow{
        border-bottom: 1px solid $color-tertiary;
    }
}

.app{
    &__toDoList{
        margin:0 auto;
        display: inline-block;
    }
    &__title{        
        padding: 1.8rem;

        &--pink{
            background-color: $color-primary-dark;
            border-top: 4px solid $color-primary;
            border-bottom: 2px solid $color-primary;
        }
        &--blue{
            background-color: $color-secondary-dark;
            border-top: 4px solid $color-secondary;
            border-bottom: 2px solid $color-secondary;
        }
        &--yellow{
            background-color: $color-tertiary-dark;
            border-top: 4px solid $color-tertiary;
            border-bottom: 2px solid $color-tertiary;
        }
    }

    &__add{
        background-color: $color-grey-dark-3;
        border-bottom: 1px solid $color-grey-dark-2;
        height: 8rem;
        padding: 3rem 1.8rem;
        color: $color-grey-light-2;
        position: relative;
    }

    &__info{
        width: 20rem;
        margin: 0 auto;
        margin-top: 4rem;
        text-align: center;
    }
}

.add{

    &__container{
        text-align: center;
    }
    
    &__description{
        margin-right: 1rem;
        background-color: $color-grey-dark-2;
        border: 1px solid $color-primary;
        padding: .3rem;

        &::placeholder{
            font-size: 1.2rem;
            color: $color-grey-light-2;
            font-weight: 200;
        }
 
    }

    &__prio{
        margin: 0 1rem;
        background-color: $color-grey-dark-2;
        border: 1px solid $color-primary;
        padding: .3rem;
        font-size: 1.2rem;
        color: $color-grey-light-2;
    }
}

.info{
    &__overview--pink{
        border-bottom: 1px solid $color-primary;
    }
    &__tasks{
        font-size: 1.3rem;
        line-height: 2rem;
        text-align: left;
        margin-left: 3rem;
        z-index: 10;
    }

}

.margin-bottom{
    margin-bottom: 4rem;
}

.relative{
    position: relative;
}

.animWindow{
    width: 100%;
    transition: all, .5s;
}

.fadeOut {
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.invisible{
    display: none;
}

.visible{
    display: block;
}

.app__info-extended{
    width: 20rem;
    margin: 4rem;
    display: inline-block;
    // transform: translateX(2rem);
    transition: all, .5s;
}

.collapse{
    display: block;
    opacity: 0;
    max-height: 0px;
    overflow: hidden;
    transition: all .3s;
}

.show{
    margin-top: 5rem;
    opacity: 100;
    display: inline-block;
    max-height: 50rem;
    transition: all .5s ease-in-out;
  }