.popup{

    // @include absCenter;

    position: absolute;
    top: 50%;
    left: 50%;
    
    background-color: $color-yellow-light-1;
    width: 75%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: .5rem;
    overflow: hidden;
    transition: all .3s ease-in;
    //transition: all .4s .15s; //last value > delay

        &__title{        
            padding: 1.8rem;
            border-radius: .5rem;
            text-align: center;
    
            &--A {
                background-color: $color-primary;
                color: $color-white;
            }
            &--B {
                background-color: $color-secondary;
                color: $color-white;    
            }

            &--C {
                background-color: $color-tertiary-dark;
                color:  $color-white;
            }
        }

        &__add{
            height: 8rem;
            padding: 3rem 1.8rem;

            &--A{
                color: $color-primary;
                background-color: $color-primary-light;
            }

            &--B{
                color: $color-secondary;
                background-color: $color-secondary-light;
            }
            &--C{
                color: $color-tertiary-dark;
                background-color: $color-tertiary-light-2;
            }            
        }

        &__tasks{
            position: relative;
        }

        
        &__close {
            z-index: 50;
            &:link,
            &:visited {
                color: $color-white;
                position: absolute;
                top: 2.5rem;
                right: 2.5rem;
                font-size: 3rem;
                text-decoration: none;
                display: inline-block;
                transition: all .2s;
                line-height: 1rem;
            }
    
            &:hover {
                color: $color-white;
            }
        }

}

.container{
    &__priority{
    width: 80%;
    margin: 0 auto;
    }
    &__prio1{
        background-image: linear-gradient(to right, rgba($color-primary-dark,0), rgba($color-primary-dark,0.7));
        background-size: cover;
    }
    &__prio2{
        background-image: linear-gradient(to right, rgba($color-primary-dark2,0), rgba($color-primary-dark2,0.7));
        background-size: cover;
    }
    &__prio3{
        background-image: linear-gradient(to right, rgba($color-primary,0), rgba($color-primary,0.7));
        background-size: cover;
    }
}

.add{

    &__container{

        display: flex;        
        justify-content: center;
        align-items: center;
    }
    
    &__description{
        margin-right: 2rem;       
        width: 30%;        
        padding: .3rem .5rem;
        outline: none;

        &--A {
            background-color: $color-yellow-light-1;
            border: 1px solid $color-primary;

            &::placeholder{
                font-size: 1.2rem;
                color: $color-primary;
            } 
        }
        &--B {
            background-color: $color-yellow-light-1;
            border: 1px solid $color-secondary;

            &::placeholder{
                font-size: 1.2rem;
                color: $color-secondary;
            } 
        }
        &--C {
            width: 20%;
            background-color: $color-yellow-light-1;
            border: 1px solid $color-tertiary-dark;

            &::placeholder{
                font-size: 1.2rem;
                color: $color-tertiary-dark;
            } 
        }
    }

    &__input{
        &--label{
            margin-right: 2rem;
        }
        
        &--btn {
            outline: none;
            width: 3rem;
            height: 3rem;         
            border: none;
            background-color: transparent; 
            cursor: pointer;          
            
            & img{
                width: 100%;
            }
        }
        &--prio{
            padding: .3rem;
            margin-right: 2rem;
            color: $color-primary;
            background-color: $color-yellow-light-1;
            border: 1px solid $color-primary;
        }
    }
    &__value,
    &__type {
        margin-right: 2rem;
        padding: .3rem .5rem;
        background-color: $color-yellow-light-1;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        outline: none;

        &::placeholder{
            font-size: 1.2rem;
            color: $color-secondary;
        } 
    }

    &__prio{
        font-size: 1.2rem;
        color: $color-primary;
        background-color: $color-yellow-light-1;
        border: 1px solid $color-primary;
        margin: 0 2rem;
        padding: .3rem;
        outline: none;
    }

    &__tips{
        font-size: 1.2rem;
        color: $color-tertiary-dark;
        background-color: $color-yellow-light-1;
        border: 1px solid $color-tertiary-dark;
        margin: 0 2rem;
        padding: .3rem;
        outline: none;
    }
}

.content{
    &__overview {
        &--A {color: $color-primary;}
        &--B {color: $color-secondary;}
        &--C {color: $color-tertiary-dark;}

    }

    &__total{
        text-align: center;
        padding: 4rem;
        line-height: 2rem;
        min-height: 50vh;

        &--A{
            background-color: #fff8e1;
        }
        &--B{
            background-color: #e1f5fe;
        }
        &--C{
            background-color: $color-tertiary-light;
        }
        
    }
    &__sum{
        font-size: 1.5rem;
        line-height: 2.5rem;
        text-align: left;
    }
    &__list{
        padding: 4rem;
    }
    &__title{
        display: inline-block;
    }
    &__icon{
        width: 3rem;
        height: 3rem;
        margin-right: 1.2rem;
        display: inline-block;

        & img{
            width: 100%;
        }
    }
}

.margin-bottom{
    margin-bottom: 3rem;
}

.right{
    float: right;
}

.item {
    font-size: 1.4rem;    
    display: block;    
    border-bottom: 1px solid $color-grey-light-2;
    
    &:hover .item__delete--btn {
        transform: translateX(0);
    }

    &--A{
        border-bottom: 1px solid $color-primary-medium;
    }

    &--B{
        border-bottom: 1px solid $color-secondary-medium;
    }

    &--C{
        border-bottom: 1px solid $color-tertiary-dark;
    }

    &__object{
        float: left;
        display: block;
        position: relative;
        padding-left: 3.5rem;
        margin-bottom: 1.2rem;
        cursor: pointer;
        font-size: 2.2rem;
        user-select: none;

        & input{        
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        & input:checked ~ .item__checkmark:after {
            display: block;
        }
        &  .item__checkmark:after {
            left: 5px;
            top: -8px;
            width: 1rem;
            height: 2rem;
            border: solid $color-grey-medium;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
          }
          
    }
    &__checkmark {
        position: absolute;
        top: 1rem;
        left: 0;
        height: 1.5rem;
        width: 1.5rem;
        border: 1px solid $color-grey-medium;   
        background-color: white;
        &:after {
            content: "";
            position: absolute;
            display: none;
        }

    }

    &__priority {
        float: left;
        padding: .5rem;
        font-size: 1.6rem;
        margin-right: 1rem;
        padding-left: 1rem;
        transition: transform 0.3s;
        border-left: 1px solid white;
        color: white;
    }
    &__description {
        float: left;
        padding: .5rem;
    }

    &__expense{
        float: left;        
    }

    &__value {
        float: left;
        padding: .5rem;
        font-size: 1.6rem;
        margin-right: .5rem;
        padding-left: 1rem;
               
    }
    &__percentage{
        font-size: 1rem;
        float: left;
        padding: .1rem;
        margin-right: .5rem;
        border: 1px solid currentColor;
        transform: translateY(7px);
        
    }
    
    &__delete {
        float: left;
        overflow: hidden;
                

        &--btn{
            font-size: 2.6rem;            
            color: white;           
            //background-color: rgba(red,.5);
            padding: 0 1rem;            
            border: none;
            border-left: 1px solid white;
            cursor: pointer;  
            transition: all .3s ease-out;            
            
            transform: translateX(-3.8rem);
        }
    }
}

.budget{
    &__income {
        width: 100%;
        float: left;
        padding: 1rem 0;
        border-top: 1px solid $color-grey-light-2;
        border-bottom: 1px solid $color-grey-light-2;
         

        &--text{
            float: left;
        }

        &--value{
            padding: .3rem 1rem;
            color: $color-white;
            background-color: #1de9b6;
        }
    }

    &__expenses{
        width: 100%;
        float: left;
        padding: 1rem 0;
        border-bottom: 1px solid $color-grey-light-2;
  

        &--value{
            padding: .3rem;
            padding-left: 1rem;
            color: $color-white;
            background-color: #fe6565;
        }
        &--text{
            float: left;
        }

        &--percentage{
            font-size: 1rem;
            background-color: #fd4242;
            padding: .3rem;
            margin:0 .6rem;
            border-radius: .2rem;
            border: 1px solid $color-white;
        }

    }

    &__header{
        text-align: center;
        padding: 2rem 0;
        margin-bottom: 3rem;
        // background-color: #e1f5fe;
        // color: $color-secondary;
        // border-top: 1px solid $color-secondary-medium;
        // border-bottom: 1px solid $color-secondary-medium;
    }

    &__title{
        margin-bottom: 1rem;
    }


    &__value{
        display: inline-block;
        padding: .3rem 1rem;
        color: $color-white;
        background-color: $color-secondary-medium;
    }

}

.tips{
    &__result{
        line-height: 4rem;
        font-size: 1.5rem;
    }

    &__text {
        float: left;
        width: 100%;
        padding: 0 6rem;
        margin: 3rem 0;
    }

    &__split {
        margin: 3rem 0;
        font-style: italic;
        text-align: center;
    }

    &__number{
        color: $color-tertiary-dark;
        font-size: 2rem;
    }

    &__people {
        width: 5rem;
        font-size: 1.2rem;
        color: $color-tertiary-dark;
        background-color: $color-white;
        border: 1px solid $color-tertiary-dark;
        margin: 0 2rem;
        padding: .3rem;
        outline: none;
    }
}





.collapse{
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}