.popup{

    position: fixed;
    top: 50%;
    left: 50%;
    
    background-color: $color-yellow-light;
    width: 65%;
    box-shadow: 0 2rem 4rem rgba($color-black, .2);
    border-radius: .5rem;
    transition: all .3s ease-in;
    z-index: 2000;

    @include respond(small-tab) {
        width: 90%;
        max-height: 90%;
        overflow-y: scroll;
        &::-webkit-scrollbar {
            width: .5rem;
        }
        &::-webkit-scrollbar-track{
            background-color: $color-grey-medium;
        }
        &::-webkit-scrollbar-thumb {
            background: $color-grey-light;
        }
    }

    @include respond(phone) {
        width: 100%;
        height: 100%;
        max-height: unset;
        border-radius: 0;
    }

    &__bckgrd{
        background-color: rgba($color-black, .5);
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 100%;
    }
    
    &__title{        
        padding: 1.8rem;
        text-align: center;

        &--A {
            background-color: $color-primary;
            color: $color-white;
        }
        &--B {
            background-color: $color-secondary;
            color: $color-white;    
        }
        &--C {
            background-color: $color-tertiary-dark;
            color:  $color-white;
        }
    }
    &__add{
        height: 8rem;
        padding: 3rem 1.8rem;
        &--A{
            color: $color-primary;
            background-color: rgba($color-primary,.2);
        }
        &--B{
            color: $color-secondary;
            background-color: rgba($color-secondary,.4);
        }
        &--C{
            color: $color-grey-medium;
            background-color: $color-tertiary-light;
        }            
    }
    &__tasks, .popup__budget, .popup__tips{
        position: relative;
    }
    &__tips{
        background-color: rgba($color-tertiary-light,.3);
    }
    
    &__close {
        z-index: 50;
        &:link,
        &:visited {
            color: $color-white;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            font-size: 3rem;
            text-decoration: none;
            display: inline-block;
            transition: all .2s;
            line-height: 1rem;
        }

        &:hover {
            color: $color-white;
        }
    }
}


.container{
    &__priority{
    width: 80%;
    margin: 0 auto;
    }
}

.add{
    &__container{

        display: flex;        
        justify-content: center;
        align-items: center;
    }
    
    &__description{
        margin-right: 2rem;       
        width: 30%;        
        padding: .3rem .5rem;
        outline: none;

        &--A {
            background-color: $color-yellow-light;
            border: 1px solid $color-primary;

            &::placeholder{
                font-size: 1.2rem;
                color: $color-primary;
            } 
        }
        &--B {
            background-color: $color-yellow-light;
            border: 1px solid $color-secondary;

            &::placeholder{
                font-size: 1.2rem;
                color: $color-secondary;
            } 
        }
        &--C {
            width: 20%;
            background-color: $color-yellow-light;
            border: 1px solid $color-tertiary-dark;

            &::placeholder{
                font-size: 1.2rem;
                color: $color-grey-medium;
            } 
        }
    }

    &__input{
        &--btn {            
            width: 3rem;
            height: 3rem;         
            @include btn;      
            
            & img{
                width: 100%;
            }
        }
    }
}

.content{
    &__overview {
        &--A {color: $color-primary;}
        &--B {color: $color-secondary;}
        &--C {color: $color-tertiary-dark;}

    }

    &__total{
        text-align: center;
        padding: 4rem;
        line-height: 2rem;
        min-height: 50vh;

        @include respond(big-tab) {
            padding: 2rem;            
        }

        @include respond(small-tab) {
            min-height: auto;
        }
        @include respond(phone) {
            padding: 3rem;
        }

        &--A{
            background-color: rgba($color-primary,.07);
        }
        &--B{
            background-color: rgba($color-secondary,.15);
        }
        &--C{
            min-height: 20vh;

            @include respond(small-tab) {
                min-height: auto;
            }
        }
        
    }

    &__list{
        background-color: $color-yellow-light;
        padding: 4rem;
        @include respond(small-tab) {
            min-height: 50vh;
        }

    }

    &__icon{
        width: 3rem;
        height: 3rem;
        margin-right: 1.2rem;
        display: inline-block;

        & img{
            width: 100%;
        }
    }
}


.item {
        
    display: block;    
    border-bottom: 1px solid $color-grey-light;

    &:hover .item__priority{
        transform: translateX(-1rem);
     }
    &:hover .item__value{
       transform: translateX(-1rem);
    }
    &:hover .item__percentage{
        transform: translateX(-1rem);
    }        
    &:hover .item__delete--btn {
        display: block;
    }

    &__description {
        float: left;
        padding: .5rem;
    }
    
    &__delete {
        display: inline-block;  
        vertical-align: middle;
        overflow: hidden;                              

        &--btn{    
            @include btn;
            border: 1px solid $color-red;    
            border-radius: 50%;            
            padding: 0 .4rem;                        
            display: none;   
            color: $color-red; 
            @include respond(mobile) {
                display: block;
            }                               
        }
    }
}


.collapse{
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
}

.noscroll{
    overflow: hidden;
}