*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}


html {
	
    font-size: 62.5%; 


    @include respond(big-tab) {  // width < 1300 ?
		font-size: 54.16%; 
	}

	@include respond(small-tab) {
		font-size: 50%; // width < 900 ?
	}

	@include respond(phone) {
		font-size: 45%;
    }
}

body {
    box-sizing: border-box;
	background-color: $color-grey-dark;
}

.clearfix{
	&::after {
        content: "";
        display: table;
        clear: both;
    }
}