.container{
    // @include absCenter;
    text-align: center;
    position: relative;
}


.circle {
    display: inline-block;
    width: 35rem;
    height: 35rem;
    position: relative;

    &__text {
        text-align: center;
    }

    &__link{
        color: $color-white;  
        cursor: pointer;
        z-index: 5;

    }
}

.hoverBox{
    width: 30rem;
    height: 30rem;

    position: absolute;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &:hover .listExt{
        transform: translateY(35px);
    }
    &:hover .forearm{
        animation-name: armLoop;
        animation-duration: 2s;        
    }
    &:hover .weyeL{
        transform: scale(1.7);
    }
    &:hover .weyeR{
        transform: scale(1.7);
    }

    &__blue{
        &:hover .budget__pig{
            animation-name: pigLoop;
            animation-duration: 2s; 
            animation-timing-function: ease;
        }

        &:hover .budget__coin{
            transform: translateY(6rem);
        }

        &:hover .budget__eyebrow{
            transform: translateY(-1rem);
        }
        &:hover .budget__smile{
            width: .5rem;
            height: .5rem; 
            transform: translateX(2px);           
        }
    }

}

.round{
    width: 30rem;
    height: 30rem;
    background-size: cover;
    background-position: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &__toDo{
        background-image: url(../img/obBg.svg);
    }
    &__budget{
        background-image: url(../img/bbBg.svg);
    }
}

.arm{
    position: absolute;
    top: 45%;
    left: 35%;
    transform: translate(-50%, -50%);

    background-color: darkgray;
    width: 3px;
    height: 50px;
    transform: rotate(-40deg);
}

.forearm{

    position: absolute;
    top: 59%;
    left: 40%;
    z-index: 10;
    transform-origin: top left;

    background-color: darkgray;
    width: 50px;
    height: 3px;

    transition: all 2s;
}

.weyeL{

    position: absolute;
    top: 40%;
    left: 50.5%;
    z-index: 10;
    background-color:white;
    width: 6px;
    height: 10px;
    border-radius:50%;

    transition: all 1s;
}
.weyeR{

    position: absolute;
    top: 40%;
    left: 54%;
    z-index: 10;
    background-color:white;
    width: 6px;
    height: 10px;
    border-radius:50%;
    transition: all 1s;
    z-index:10;
}
.geyeL{

    position: absolute;
    top: 42%;
    left: 51%;
    z-index: 10;
    background-color:grey;
    width: 4px;
    height: 5px;
    border-radius:50%;
    
    z-index:11;
}

.geyeR{

    position: absolute;
    top: 42%;
    left: 54%;
    z-index: 10;
    background-color:grey;
    width: 4px;
    height: 5px;
    border-radius:50%;

    z-index:11;
}
.backlist{
    background-image: url(../img/obBckList.svg);
    background-size: cover;
    background-position: center;

    width: 120px;
    height: 120px;

    position: absolute;
    top: 50%;
    left: 46%;
}
.listExt{
    
    background-image: url(../img/obListExt.svg);
    background-size: cover;
    background-position: center;
    /* background-color:#ffe2a2; */
    border-right: 1px solid #a67c52;
    border-left: 1px solid #a67c52;
    border-bottom: 1px solid #a67c52;
    width: 50px;
    height: 50px;

    position: absolute;
    top: 51%;
    left: 51%;
    z-index: 2;   
    transition: all 2s;
}

.list{
    background-image: url(../img/obList.svg);
    background-size: cover;
    background-position: top;

    width: 60px;
    height: 40px;

    z-index: 5;

    position: absolute;
    top: 50%;
    left: 50%;    
}

.budget{

    &__eyebrow{
        position: absolute;
        top: 35%;
        left: 46.5%;
   
        background-image: url(../img/bbeyebrow.svg);
        background-size: cover;
        background-position: top;
        width: 3rem;
        height: 1rem;
        transition: all 1s;
        transition-delay: .3s;
    }
    &__smile{
        position: absolute;
        top: 47%;
        left: 49%;
        background-color: #1b1464;

        width: 1rem;
        height: 2px;

        border-radius:50%;
        transition: all 1s;
        transition-delay: .3s;
    }

    &__pig{
        position: absolute;
        top: 43%;
        left: 22%;
        z-index: 10;
        transform-origin: top right;
    
        background-image: url(../img/bbpig.svg);
        background-size: cover;
        background-position: top;
        width: 6rem;
        height: 6rem;
        transform: rotate(-15deg);
    }

    &__pile{

        position: absolute;
        top: 70%;
        left: 25%;
        z-index: 15;
        background-image: url(../img/bbpile.svg);
        background-size: cover;
        background-position: top;
        width: 7rem;
        height: 3rem;
    }

    &__coin{
        position: absolute;
        top: 53%;
        left: 29%;
    
        background-image: url(../img/bbcoin.svg);
        background-size: cover;
        background-position: top;
        width: 2rem;
        height: 2rem;
    
        transition: all .2s;
        transition-delay: .3s;
    }


}


@keyframes armLoop {
	0%{transform: rotate(0deg);}
    
    25%{transform: rotate(15deg);}

	50%{transform: rotate(0deg);}
    
    75%{transform: rotate(15deg);}

	100% {transform: rotate(0deg);}
}

@keyframes pigLoop {
	0%{transform: rotate(-15deg);}
    
    25%{transform: rotate(25deg);}

	50%{transform: rotate(-25deg);}
    
    75%{transform: rotate(15deg);}

	100% {transform: rotate(-15deg);}
}