
.header{
    
    &__logo{
        
        // margin-bottom: 3rem;
        @include respond(small-tab){
            margin-bottom: 0;
        }
    }
}

.logo{
    width: 10rem;
    height: 10rem;
    margin: 2.5rem;
    opacity: .75;
    @include respond(small-tab){
        width: 7rem;
        height: 7rem;
    }
}
