@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}

//MIXINS MEDIA QUERIES

@mixin  respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {@content};   //600px
    }

    @if $breakpoint == small-tab {
        @media only screen and (max-width: 56.25em) {@content};  //900px 
    } 
    
    @if $breakpoint == big-tab {
        @media only screen and (max-width: 81.25em) {@content};  //1300px
    }
    @if $breakpoint == laptop {
        @media only screen and (max-width: 86.25em) {@content};  //1380px
    }
    @if $breakpoint == desktop {
        @media only screen and (max-width: 93.75em) {@content};  //1500px
    }

    //No Hover touchscreen
    @if $breakpoint == mobile {
        @media only screen and (hover: none) {@content};
    }
    
}