body{

    font-family: 'Open Sans', sans-serif;
    color: $color-grey-medium;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: $color-grey-light-2;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}

h3{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    display: inline-block;
}

.navigation__link {

    font-size: 1.5rem;
}

.circle__link{
    font-family: 'Amaranth', sans-serif;
    font-size: 3rem;
    text-decoration: none;
}

.task__sum{
    font-family: 'Merriweather', serif;
}

.budget__header {
    font-family: 'Merriweather', serif;
}

.tips__split{
    font-family: 'Merriweather', serif;

}