body{

    font-family: 'Open Sans', sans-serif;
    color: $color-grey-medium;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-style: italic;
    text-align: center;
    color: $color-grey-light;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 3rem;
}

h3{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    display: inline-block;
}

label{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}

.navigation__link {

    font-size: 1.5rem;
}

.circle__link{
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    text-decoration: none;
}

.popup{
    &__tips{
        & ul{
            font-family: 'Merriweather', serif;
            list-style: none;
            font-size : 1.6rem;
            line-height: 2.2rem;
        }
    }
}

.content{
    &__total--C{
        & li{
            @include respond(big-tab){
                font-size: 1.3rem;
            }
        }
    }

    &__sum{
        font-size: 1.4rem;
        line-height: 2.5rem;
        text-align: left;
        @include respond(big-tab){
            font-size: 1.3rem;
        }
        
        @include respond(small-tab) {
            text-align: center;
        }
    }
}



.item{
    font-size: 1.4rem;
    &__object{
        font-size: 2.2rem;
    }
    &__description{
        font-family: 'Open Sans', sans-serif;
        font-size: 1.6rem;
    }
    &__priority{
        font-size: 2rem;
    }
    &__value{
        font-size: 1.6rem;
    }
    &__percentage{
        font-size: 1rem;
    }
    &__delete--btn{
        font-size: 1.5rem;
    }
}
.task__sum{
    font-family: 'Merriweather', serif;
}
.totalValue{
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    margin-right: 1rem;

    &1{color: $color-primary-dark;}
    &2{color: $color-primary-medium;}
    &3{color: $color-primary;}
}

.budget__header {
    font-family: 'Merriweather', serif;
}

th{
    font-family: 'Merriweather', serif;
    font-size: 1.4rem;
    font-weight: 400;
}
td{
    font-size: 1.6rem;
}

.tips{
    &__split{
    font-family: 'Merriweather', serif;
    font-size: 1.6rem;
    }
    &__share{
        &--label{
            font-size: 1.3rem;
        }
    }
    &__clear{
        font-size: 1.5rem;
    }

}