// COLORS
$color-yellow-light: #fffde7;

$color-primary:#fb8c00;
$color-primary-medium:#fb5c00;
$color-primary-dark:#fb3b00;

$color-secondary: #42a5f5;

$color-tertiary: #ffd54f;
$color-tertiary-light: #fff283;
$color-tertiary-dark: #ffaa00;


$color-grey-dark:#424250;
$color-grey-medium:#828282;
$color-grey-light: #c9c9c9;

$color-white:#fff;
$color-black:#000;
$color-red :#fe6565;
$color-green : #1de9b6;

// FONTS

$default-font-size:1.6rem;

// GRID

$grid-width: 100rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;



/* EFFECTS */

.fadeOut {

    opacity: 0;
    transition: opacity 0.4s ease-out;
}


.appear {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.none {
    display: none;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}