// COLORS

$color-primary:#fb8c00;
$color-primary-medium:#ffcc80;
$color-primary-light:#ffe2a2;


$color-secondary: #42a5f5;
$color-secondary-dark: #2196f3;
$color-secondary-medium: #90caf9;
$color-secondary-light: #bbdefb;

$color-tertiary: #ffd54f;
$color-tertiary-light: #fff9c4;
$color-tertiary-light-2: #fff283;
$color-tertiary-medium: #ffe082;
$color-tertiary-medium: #ffe082;
$color-tertiary-dark: #ffc107;

$color-grey-medium:#7a7a8b;

$color-grey-dark-2:#424250;
$color-grey-dark:#2b2b3a;
$color-grey-dark-3:#343442;
$color-grey-dark-4:#1d1d28;


$color-white:#fff;
$color-black:#000;

$color-grey-light-1:#f7f7f7;
$color-grey-light-2: #c9c9c9;

$color-yellow-light-1: #fffde7;

// FONTS

$default-font-size:1.6rem;

// GRID

$grid-width: 100rem;
$gutter-vertical: 6rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;



/* EFFECTS */

.fadeOut {

    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.none {
    display: none;
}


// .appear {
//     opacity: 1;
//     transform: translate(-50%, -50%) scale(1);

//     transition: all .3s ease-in;
// }

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}